**/__pycache__/**
/dataset/**
.dataset_cache/**
.pytest_cache/**
**/log_tensorboard/**
log/**
.ropeproject/**
**/evaluation_all.csv
**/*.db
**/*.db-wal
**/*.db-shm
**/*.db-client_wal_index
*.db
*.db-wal
*.db-shm
*.db-client_wal_index
**/script_results/**
**/plot/figs/**
!.gitkeep
**/.DS_Store/**
.idea/**
.env
