aalpy==1.4.1
deap==1.4.1
fire==0.7.0
kmeans-pytorch==0.3
Levenshtein==0.26.0
lightning-utilities==0.11.9
matplotlib==3.9.3
networkx==3.3
# numpy==2.1.1
numpy<2
pandas==2.2.3
pillow==11.0.0
plotly==5.24.1
protobuf==5.28.2
pyarrow==17.0.0
pytest==8.3.3
ray==2.37.0
recbole==1.2.0
scikit-learn==1.5.2
scipy==1.14.1
setuptools==72.1.0
tensorboard==2.18.0
tensorboardX==2.6.2.2
toml==0.10.2
torch==2.4.1
torcheval==0.0.7
torchmetrics==1.6.0
tqdm==4.66.5
